:root {
    --dark-blue-bg: #1F2937;
    --quote-section-bg: #E5E7EB;
    --quote-color: #1F2937;
    --button-color: #3882F6;
    --hero-main-text: #F9FAF8;
    --header-link-text: #E5E7EB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap: wrap;
}

.content-1 {
    background-color: var(--dark-blue-bg);
    color: var(--header-link-text);
    padding: 50px;

}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 534px;
    color: var(--header-link-text);
    margin-top: 0;
    margin-bottom: 150px;
    margin-left: 85px;
    margin-right: 5px;
}

.logo {
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font: light;
    color: var(--header-link-text);
}

.content-3 {
    background-color: var(--quote-section-bg);
    display: flex;
    justify-content: center;
    gap: 32px;
}

.quote {
    font: light;
    font-style: italic;
    color: var(--quote-color);
}

.bottom-portion-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 30px;
    margin-left: 110px;
    margin-right: 30px;
    
}

.awesome {
    font-size: 48px;
    color: var(--hero-main-text);
    font-weight: bolder; 
}

.subtext {
    font-size: 18px;
}
button {
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    
}
.section-1-signup {
    background-color: var(--button-color);
    color: var(--header-link-text);
    font-weight: bolder;
    border-radius: 10px;
    border-color: var(--button-color);
}


.content-2 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer {
    display: flex;
    height: 72px;
    background-color: var(--dark-blue-bg);
    color: #e5e7eb;
    font-weight: bolder;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
}

.images img {
    width: 100px;
    height: 100px;
}

.random {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: var(--quote-color);
    margin-top: 0;
    margin-bottom: 50px;
}

.image-and-text {
    display: flex;
    justify-content: center;
}

